/*Default text stuff*/

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    color: #808080;
    background-color: rgb(214, 214, 214);
}


/*
==========================================
Navigation
==========================================
*/

#nav {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.exo-nav {
    height: 56px;
    background-color: white;
    position: relative;
        -webkit-box-shadow: -1px 2px 3px -1px rgba(0, 0, 0, 0.10);
-moz-box-shadow: -1px 2px 3px -1px rgba(0, 0, 0, 0.10);
    box-shadow: -1px 2px 3px -1px rgba(0, 0, 0, 0.10);
}

.ham-box {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    top: 30%;
    margin-left: 30px;
}

.bar1,
.bar2,
.bar3 {
    width: 17px;
    height: 2px;
    background-color: #706072;
    margin: 3px 0;
}

.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    box-shadow: 2px 2px 2px -2px rgba(0, 0, 0, 0.53);
     -webkit-box-shadow: 6px 2px 2px -2px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 6px 2px 2px -2px rgba(0, 0, 0, 0.53);
    box-shadow: 2px 2px 2px -2px rgba(0, 0, 0, 0.53);
}

.sidenav a {
    padding: 13px 8px 13px 37px;
    text-decoration: none;
    font-size: 14px;
    color: #818181;
    display: block;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
        -o-transition: all 0.3s;

}

.sidenav a:hover {
    color: #000000;
    background-color: aliceblue;
}

.close {
    color: #e5e5e5;
    padding: 8px;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    float: right;
}

.close:hover {
    color: #000000;
}

.sideNavLogo {
    width: 100px;
    text-align: center;
    margin: auto;
    padding: 0px;
}

.overlay {
    z-index: -1;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.0);
    /*display: none;*/
    position: fixed;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    /*    z-index: 1;*/
}

.logo {
    float: right;
    width: 145px;
    height: auto;
    margin-top: 2px;
    margin-right: 5px;
}

.logo2 {
    width: 84px;
    margin-top: 10px;
}



/*
==========================================
Global Styles
==========================================
*/

/*buttons*/

.m-btn-primary {
    font-family: 'Roboto', sans-serif;
    min-width: 36px;
    margin-top: 16px;
    margin-right: 14px;
    display: inline-block;
    overflow: hidden;
    height: 32px;
    padding: 0px 12px;
    background-color: #706072;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.m-btn-primary:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 2px 0px rgba(150, 150, 150, 0.53);
    -moz-box-shadow: -1px 5px 6px -2px rgba(0, 0, 0, 0.41);
    box-shadow: -1px 5px 6px -2px rgba(0, 0, 0, 0.41);
}

.m-btn-primary:focus {
    outline: 0;
}

/*content holder*/

.content {
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 37px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    padding: 40px 3px 40px 3px;
}


/*
==========================================
Header
==========================================
*/

.header {
    background-color: #2A363B;
    min-height: 560px;
    background-image: url(/assets/fireworks.png);
    background-size: cover;
    z-index: 21;
}

.header-container {
    margin: 0px 0px 45px 0px;
    padding: 56px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin-top: 0px;
}

.header-img {
    border-radius: 50%;
    width: 100px;
    height: auto;
    margin: 0px;
    margin-top: 30px;
}

.name {
    color: white;
    margin-bottom: 0px;
    font-size: 1.55em;
    opacity: 0.8;
    text-transform: uppercase;
}

.sub-name {
    color: white;
    margin-top: 0px;
    margin-bottom: 36px;
    font-size: 2.2em;
    font-weight: 500;
    text-transform: uppercase;
}

.header-content {
    color: white;
    margin: 0px;
    margin-top: 6px
}

.header-hr {
    width: 30px;
    text-align: left;
    margin: 0px;
    height: 4px;
    background-color: white;
}

/*
==========================================
About Me
==========================================
*/

.main-title {
    color: #dcdee2;
    font-size: 1.9em;
    margin-bottom: 0px;
    font-weight: 700;
}

.title-fx {
    color: #706072;
    font-size: 2em;
    text-decoration: underline;
}

.sub-header {
    color: #706072;
    text-transform: uppercase;
    width: 45%;
    margin-top: 7px;
    font-size: 1em;
    font-weight: 500;
}

.icon-tweak {
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: 17px;
}

* {
    box-sizing: border-box
}

.progress-container {
    width: 100%;
    background-color: white;
    border: 2px solid #706072;
    margin-bottom: 17px;

}

.skill-item {
    text-align: right;
    padding-right: 2px;
    line-height: 12px;
    color: white;
    font-size: 0.6em
}

.html {
    width: 85%;
    height: 10px;
    background-color: #706072;
}

.js {
    width: 94%;
    height: 10px;
    background-color: #706072;
}

.css {
    width: 80%;
    height: 10px;
    background-color: #706072;
}

.node-js {
    width: 50%;
    height: 10px;
    background-color: #706072;
}

.github {
    width: 70%;
    height: 10px;
    background-color: #706072;
}

/*
==========================================
Webapps
==========================================
*/

.apps-img {
    width: 100%;
    height: auto;
}

.thumb-title {
    margin: 0px;
    font-weight: 200;
    font-size: 0.75em;
    text-align: center;
    padding: 0px;
}

.web-apps-content {
    margin-top: 15%;
}


/*
==========================================
Intreulude
==========================================
*/

.intrelude {
/*    grid-template-columns: 1fr;*/
    width: 100%;
/*    grid-template-rows: auto auto auto;*/
/*    height: 500px;*/
    height: auto;
    background-color: black;
    background-image: url("/assets/photo%20challenge.jpg");
    background-size: cover;
    background-repeat: no-repeat;
/*    opacity: 0.7;*/
    margin-top: 45px;
}

.intrelude-adj {

}

.profile-img {
    display: block;

    border-radius: 50%;
    width: 150px;
    margin: auto;
        margin-top: 70px;


}

.btn-wrapper {
    margin-bottom: 70px;
    display: flex;
    justify-content: center;
}

.intrelude-content {
    color: white;
    opacity: 0.9;
    text-align: center;
}

.adj-fab {
    margin-right: 10px;
}

/*
==========================================
Logo Section
==========================================
*/

.logo-header {
    text-align: center;
        color: #706072;
    text-transform: uppercase;

    margin-top: 67px;
    font-size: 2em;
    font-weight: 500;
    opacity: 0.6;
    margin-bottom: 15px;
}


/*
==========================================
Responsive
==========================================
*/

@media screen and (min-width: 640px) {
    /*    HEADER*/
    .header {
        min-height: 768px;
    }

    .header-img {
        width: 170px;
    }
    .sub-name {
        font-size: 3.7em;
    }
    .name {
        font-size: 2em;
    }
    .header-hr {
        width: 70px;
        height: 13px;
    }

    /*    ABOUT ME*/
    .progress-container {
        width: 100%;
    }

    /*    WEB APPS*/
    .apps {
        grid-gap: 0%;
        grid-template-columns: 1fr 1fr 1fr;
        margin-right: 30px;
        padding: 10
    }
    .apps-img {
        width: 100%;
        height: auto;
        margin: 0px;
        padding: 15%;

    }
    .thumb-title {
        font-size: 80%;
    }
    .web-apps-content {
        margin-top: 18%;
        margin-left: 0%;
    }

    /*
        PROJECTS
*/
    .projects-nav h4 {
        margin-top: 0px;
        color: white;
        opacity: 0.8;
        font-size: 1.3em;
    }

    .projects-title {
        height: 200px;
    }

    .alt-container {
        width: 100%;
    }

    .m-btn-primary {
        min-width: 46px;
        height: 45px;
        padding: 8px 22px;
    }
    .music-grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }

    .music-grid div iframe {
        height: 230px;
    }
}

@media screen and (min-width: 1181px) {
    .content {
        width: 1170px;
        margin: auto;
        margin-top: 45px;
    }

    .header-container {
        margin-top: 0px;
    }


    .header-A {
        width: 960px;
        /*            padding-left: 30px;*/
    }
    .m-btn-primary {
        min-width: 46px;
        height: 45px;
        padding: 8px 22px;
    }
}
