/*Default text stuff*/

body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    color: #808080;
    background-color: rgb(237, 237, 242);
}


/*==========================================*/

/*Navigation css*/

/*==========================================*/

#nav {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.exo-nav {
    height: 56px;
    background-color: white;
    position: relative;
    box-shadow: -1px 2px 3px -1px rgba(0, 0, 0, 0.10);
}

.ham-box {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    top: 30%;
    margin-left: 30px;
}

.bar1,
.bar2,
.bar3 {
    width: 17px;
    height: 2px;
    background-color: #706072;
    margin: 3px 0;
}

.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    box-shadow: 2px 2px 2px -2px rgba(0, 0, 0, 0.53);
}

.sidenav a {
    padding: 13px 8px 13px 37px;
    text-decoration: none;
    font-size: 14px;
    color: #818181;
    display: block;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.sidenav a:hover {
    color: #000000;
    background-color: aliceblue;
}

.close {
    color: #e5e5e5;
    padding: 8px;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    float: right;
}

.close:hover {
    color: #000000;
}

.sideNavLogo {
    width: 100px;
    text-align: center;
    margin: auto;
    padding: 0px;
}

.logo {
    float: right;
    width: 145px;
    height: auto;
    margin-top: 2px;
    margin-right: 5px;
}

.logo2 {
    width: 84px;
    margin-top: 10px;
}



/*==========================================*/

/*Global styles*/

/*==========================================*/

/*buttons*/

.m-btn-primary {
    font-family: 'Roboto', sans-serif;
    min-width: 36px;
    margin-top: 16px;
    margin-right: 14px;
    display: inline-block;
    overflow: hidden;
    height: 32px;
    padding: 8px 12px;
    background-color: #706072;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.m-btn-primary:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 2px 0px rgba(150, 150, 150, 0.53);
    -moz-box-shadow: -1px 5px 6px -2px rgba(0, 0, 0, 0.41);
    box-shadow: -1px 5px 6px -2px rgba(0, 0, 0, 0.41);
}

.m-btn-primary:focus {
    outline: 0;
}


/*==========================================*/

/*Header*/

/*==========================================*/

.header {
    background-color: #2A363B;
    min-height: 460px;
    background-image: url(/assets/fireworks.png);
    background-size: cover;
    z-index: 21;
    height: 100%;
}

.header-container {
    margin: 0px 0px 45px 0px;
    padding: 56px;
}

.header-img {
    border-radius: 50%;
    width: 100px;
    height: auto;
    margin: 0px;
    margin-top: 30px;
}

.name {
    color: white;
    margin-bottom: 0px;
    font-size: 1.55em;
    opacity: 0.8;
    text-transform: uppercase;
}

.sub-name {
    color: white;
    margin-top: 0px;
    margin-bottom: 36px;
    font-size: 2.2em;
    font-weight: 500;
    text-transform: uppercase;
}

.header-content {
    color: white;
    margin: 0px;
    margin-top: 6px
}

.header-hr {
    width: 30px;
    text-align: left;
    margin: 0px;
    height: 4px;
    background-color: white;
}

/*-------------------X*/
