body {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
    color: #808080;
    background-color: rgb(237, 237, 242);
}

#nav {
    position: fixed;
    width: 100%;
    z-index: 10;
}

.exo-nav {
    height: 56px;
    background-color: white;
    position: relative;
    -webkit-box-shadow: -1px 2px 3px -1px rgba(0, 0, 0, 0.10);
    -moz-box-shadow: -1px 2px 3px -1px rgba(0, 0, 0, 0.10);
    box-shadow: -1px 2px 3px -1px rgba(0, 0, 0, 0.10);
}

.ham-box {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    top: 30%;
    margin-left: 30px;
}

.bar1,
.bar2,
.bar3 {
    width: 17px;
    height: 2px;
    background-color: #706072;
    margin: 3px 0;
}

.sidenav {
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color: white;
    overflow: hidden;
    white-space: nowrap;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    -webkit-box-shadow: 6px 2px 2px -2px rgba(0, 0, 0, 0.53);
    -moz-box-shadow: 6px 2px 2px -2px rgba(0, 0, 0, 0.53);
    box-shadow: 2px 2px 2px -2px rgba(0, 0, 0, 0.53);
}

.sidenav a {
    padding: 13px 8px 13px 37px;
    text-decoration: none;
    font-size: 14px;
    color: #818181;
    display: block;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

.sidenav a:hover {
    color: #000000;
    background-color: aliceblue;
}

.close {
    color: #e5e5e5;
    padding: 8px;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    float: right;
}

.close:hover {
    color: #000000;
}

.sideNavLogo {
    width: 100px;
    text-align: center;
    margin: auto;
    padding: 0px;
}

.overlay {
    /*z-index: 1;*/
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.0);
    /*display: none;*/
    position: fixed;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    /*    z-index: 1;*/
}


.logo {
    float: right;
    width: 145px;
    height: auto;
    margin-top: 2px;
    margin-right: 5px;
}

.logo2 {
    width: 84px;
    margin-top: 10px
}

.header {
    background-color: brown;
    width: 100%;
    height: 100vh;
    background-image: url(assets/fireworks.png);
    background-size: cover;
    grid-template-rows: 100%;
    display: grid;
    z-index: 21;
}

.header-A {
    justify-self: center;
    align-self: center;
    width: 70%;
}

/**
 * ----------------------------------------
 * animation text-pop-up-top
 * ----------------------------------------
 */

.text-shadow-drop-bottom {
    -webkit-animation: text-shadow-drop-bottom 0.6s both;
    animation: text-shadow-drop-bottom 0.6s both;
}

/**
 * ----------------------------------------
 * @animation text-shadow-drop-bottom
 * ----------------------------------------
 */

@-webkit-keyframes text-shadow-drop-bottom {
    0% {
        text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        text-shadow: 0 6px 18px rgba(0, 0, 0, 0.35);
    }
}

@keyframes text-shadow-drop-bottom {
    0% {
        text-shadow: 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        text-shadow: 0 6px 18px rgba(0, 0, 0, 0.35);
    }
}

.shadow-drop-bottom {
    -webkit-animation: shadow-drop-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: shadow-drop-bottom 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

/**
 * ----------------------------------------
 * animation shadow-drop-bottom
 * ----------------------------------------
 */

@-webkit-keyframes shadow-drop-bottom {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.95);
    }
}

@keyframes shadow-drop-bottom {
    0% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
    100% {
        box-shadow: 0 12px 20px -12px rgba(0, 0, 0, 0.95);
    }
}


.name {
    color: white;
    margin-bottom: 0px;
    font-size: 1.55em;
    opacity: 0.8;
    text-transform: uppercase;
}

.sub-name {
    color: white;
    margin-top: 0px;
    margin-bottom: 36px;
    font-size: 2.2em;
    font-weight: 600;
    text-transform: uppercase;
}

.header-content {
    color: white;
    margin: 0px;
    margin-top: 6px
}

.header-hr {
    width: 30px;
    justify-self: start;
    margin: 0px;
    height: 3px;
    color: white;
    background-color: white;

}

.header-img {
    border-radius: 50%;
    width: 100px;
    height: auto;
    margin: 0px;
    margin-top: 30px
}

/*buttons*/

.m-btn-primary {
    font-family: 'Roboto', sans-serif;
    min-width: 36px;
    margin-top: 16px;
    margin-right: 14px;
    display: inline-block;
    overflow: hidden;
    height: 32px;
    padding: 8px 12px;
    background-color: #706072;
    border: none;
    color: white;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    text-overflow: ellipsis;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;

}

.m-btn-primary:hover {
    cursor: pointer;
    -webkit-box-shadow: 0px 2px 0px rgba(150, 150, 150, 0.53);
    -moz-box-shadow: -1px 5px 6px -2px rgba(0, 0, 0, 0.41);
    box-shadow: -1px 5px 6px -2px rgba(0, 0, 0, 0.41);
}

.m-btn-primary:focus {
    outline: 0;
}

.content {
    display: grid;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 17px;

    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    padding-bottom: 20px;
}

.content-container {
    justify-self: center;
    align-self: center;
    width: 80%;
}

.main-title {
    color: #dcdee2;
    font-size: 1.9em;
    margin-bottom: 0px;
    font-weight: 700;
}

.title-fx {
    color: #706072;
    font-size: 2em;
    text-decoration: underline;
}

.sub-header {
    color: #706072;
    text-transform: uppercase;
    width: 45%;
    margin-top: 7px;
    font-size: 1em;
    font-weight: 600;
}

.icon-tweak {
    margin-right: 10px;
    margin-bottom: 20px;
    margin-top: 17px;
}

.skills-content {
    justify-self: center;
    align-self: center;
    width: 80%;
}

* {
    box-sizing: border-box
}

.progress-container {
    width: 100%;
    background-color: white;
    border: 2px solid #706072;
    margin-bottom: 17px;

}

.skill-item {
    text-align: right;
    padding-right: 2px;
    line-height: 12px;
    color: white;
    font-size: 0.6em
}

.html {
    width: 85%;
    height: 10px;
    background-color: #706072;
}

.js {
    width: 94%;
    height: 10px;
    background-color: #706072;
}

.css {
    width: 80%;
    height: 10px;
    background-color: #706072;
}

.node-js {
    width: 50%;
    height: 10px;
    background-color: #706072;
}

.github {
    width: 70%;
    height: 10px;
    background-color: #706072;
}

.apps {
    display: grid;
    /*    width: 80%;*/
    grid-template-columns: 1fr 1fr 1fr;

    /*    grid-gap: 10%;*/
    /*        justify-self: center;*/
    /*    align-self: center;*/
}

.apps div {
    padding-right: 10px;
    padding-top: 10px;
}

.apps-img {
    width: 100%;
    height: auto;
}

.thumb-title {
    margin: 0px;
    font-weight: 600;
    font-size: 0.55em;
    text-align: center;
    padding: 0px;
}

.projects-title {
    background-image: url(assets/code.jpg);
    background-size: 100% auto;
    height: 175%;
    text-align: center;
    background-repeat: no-repeat;
}

.projects-title h1 {
    color: white;
/*    margin-top: 49px;*/
    margin-bottom: 14px;
}

.projects-title span {
    color: white;
}

.projects-nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 60px;
}

.projects-nav h4 {
    margin-top: 0px;
    color: white;
    opacity: 0.8;
    font-size: 0.7em;
}
